 * {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
@import url( "https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&family=Permanent+Marker&display=swap");

/* N A V */

.buttons-header {
    display: flex;
    width: 930px;
    gap: 10px;
}
.buttons-header .button-header {
flex-grow: 1;
height: 3.3em;
border: none;
font-size: 1em;
background-color:rgb(57, 118, 180);
color: beige;
}
.button-header:hover {
    background-color: rgb(99, 171, 243);
}
.contact-template {
    display: flex;
    width: 930px;
    margin-top: 15px;
}
.contact-template h1 {
    font-size: 35px;
}
.contact-template .vertical-border {
    border-right: 1px solid black;
    margin:0px 10px 0px 10px;
    height: 40px;
}
.contact-template p:nth-child(3) {
    align-self: center;
}
.contact-template ol {
   margin-left: auto;
   list-style-type: none;
   font-size: smaller;
   align-self: flex-end;
}
/* M A I N */
.content-main {
    height:320px;
    width: 930px;
    background-color: rgb(194, 211, 229);
    margin-top: 1em;
    display: flex;
}
.content-main p:nth-child(1) {
width: 810px;
order:1;
align-self: center;
position: absolute;
z-index: 1;
font-size: 125px;
font-stretch: extra-condensed;
padding: 10px;
text-align: center;
font-family: sans-serif;
border-radius: 0.2em;
background-color: green;
color: whitesmoke;
transform: rotate(-11deg) translateX(50px) translateY(0px) skewX(25deg);
}
.lorem-main {
    width: 261px;
    height:140px;
    padding: 10px 0px 10px 10px;
    margin:30px 0 0 28px;
    position: relative;
    z-index: 2;
    background-color: rgb(57, 118, 180);
    text-align:left;
    color: antiquewhite;
}
.content-main hr {
    border: 1px dashed  antiquewhite;
    width: 250px;
    margin-bottom: 5px;
}
.content-band {
width: 650px;
font-size: 70px;
text-align: center;
color: antiquewhite;
position: relative;
margin:-50px 0px 0px 220px;
z-index: 2;
background-color: rgb(57, 118, 180);

}
.content-band::after {
    content: '≫';
    padding-left: 20px;

}
/* A R T I C L E  1 */
/* C A R D S */
.article1 {
    display: flex;
    width: 930px;
    gap: 30px;
    margin-top: 15px;
}
.card1-content, .card2-content, .card3-content {
    width: 250px;
    height: 320px;
    padding: 10px 20px 10px 20px;
    background-color: rgb(214, 213, 213);
    display: flex;
    flex-direction: column;
}
.article1 .img-card1, .img-card2, .img-card3 {
    width: 240px;
    height: 90px;
    margin:10px 0 10px 0;
    border: 3px solid gray;
    box-sizing: content-box;
}

.card1-content a, .card2-content a, .card3-content a{
    color: rgb(4, 0, 255);
    align-self: flex-end;
    padding-top: 10px;
    text-decoration: none;
}
.card1-content hr, .card2-content hr, .card3-content hr {
    border: 1px dashed  gray;
    width: 240px;
    margin-top: 10px;
}
.middle-dashed {
    width: 930px;
    border: 1px dashed rgb(173, 173, 173);
    margin:20px 0px 20px 0px;
}
/*A R T I C L E 2 */
/* Links Categories */
.article2 {
    display: flex;
    height: 210px;
    gap: 20px;
    width: 930px;
}
.article2 img {
    width: 200px;
    height: 160px;
    border: 3px solid rgb(201, 200, 200);
}
.article2-text {
    width: 400px;
}
.article2-text hr {
    border:1px dotted gray;
    margin:5px 0 5px 0;
}
.article2-text p a {
    list-style-type: none;
    text-decoration: none;
    color:rgb(8, 66, 124);
    margin-left: 260px;
}
.article2-links  {
    background-color: rgb(214, 211, 211);
    width: 285px;
    height: 205px;
    margin-top: 10px;
}
.article2-links h2 {
    color: gray;
    margin:5px 0 0 10px;
}
.article2-links .hr-card2 {
    border-top: 2px dashed gray;
    color: rgb(116, 114, 114);
    margin:10px 0 15px 10px;
    width: 260px;
}

.article2-links li, a {
    margin-left: 5px;
    list-style-type: none;
    text-decoration: none;
    margin-top:7px; 
    color:rgb(8, 66, 124);
}
.article2-links ol hr {
    margin:0px 0 0px 10px;
    width: 260px;
}
.article2-button-hr { 
     width: 620px;
    border: 0.1px dashed rgb(190, 190, 190); 
}
/* A S I D E */
.image-aside {
    display: flex;
    gap:8px;
    width: 500px;
    margin-top:30px;
}
.image-aside img {
    width: 174px;
    height: 100px;
    border:3px solid gray;
    box-sizing: content-box;
}
/* F O O T E R */
.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 930px;
    margin-top:10px;
    background-color: rgb(57, 118, 180);
    color: antiquewhite;
}
.footer p {
    margin: 0 10px 0 10px;
}
/* G R I D */
.grid-layout {
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "A"
    "B "
    "C "
    "D "
    "E"
    "F "
    "G";
}
.nav {
    grid-area: A;
}
.section {
    grid-area: B;
}
.main {
    grid-area: C;
}
.article1 {
    grid-area: D;
}
.article {
    grid-area: E;
}
.aside {
    grid-area: F;
}
.footer {
    grid-area:G;
}

