@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

.title {
    font-size: 25px;
    color: #2980b9;
    margin-bottom: 15px;

}

.container {
    padding: 100px;
    background: linear-gradient(45deg, #25292c, #b4a3bd);
    display: flex;
}

@media only screen and (max-width: 767px) {
    .container {
        flex-flow: column;
        padding: 20px;
        justify-content: center;
    }

    .container .profile {
        position: static;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        border-right: none;
        margin: 0 auto;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .container .images .box-container .box img {
        height: 100px;
        width: 100px;
        border: 10px solid #eee;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

    p {
        font-size: 12px;
    }

    h3 {
        font-size: 13px;
    }

    .container .information .tehnology .box-container .box img {
        height: 30px;
        margin-bottom: 5px;
    }
}